*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hiden{
    visibility: hidden;
}
.wrapperContent{
    width: 100%;
    height: 100vh;
    background: url('/eldritch-codejam/assets/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items:center;
    overflow: hidden;
}
.wraperCard{
    position: relative;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.blockWraperCard,.blockWrapermenu{
    position: absolute;
    width: 33vw;
    height: 100vh;
    top: -200%;
    left: 0;
    opacity: 0.4;
    background: black; 
    z-index: 10; 
    transition: 0.5s;
}
.card{
    min-width: 45%;
    height: 37vh;
    /* border: 1px solid yellow; */
   
}
.card:hover{
    border: green solid 4px;
    cursor: pointer;
}
.activCard{
    border: red solid 4px;
}
.shubNiggurath{
    background: url('/eldritch-codejam/assets/Ancients/ShubNiggurath.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.iogSothoth{
    background: url('/eldritch-codejam/assets/Ancients/IogSothoth.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cthulhu{
    background: url('/eldritch-codejam/assets/Ancients/Cthulthu.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.azathoth{
    background: url('/eldritch-codejam/assets/Ancients/Azathoth.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.wrapperMenu{
    position: relative;
    width: 33%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    gap: 20px;
   
}
.menu{
    width: 190px;
    height: 50px;
    border: 3px solid red;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    font-size: 25px;
    padding-top: 5px;
    color: brown;
}
.menu:hover{
    background-color: green;
}
.activMenu{
    background-color: rgb(12, 73, 12);
}
.wrapperContentGame{
    width: 33%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    justify-content: space-between;
    gap: 20px;
    
}
.wrapperDataCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
p{
    font-size: 25px;
    color: brown;
    padding: 10px;
}
.firstStep,.twoStep,.threeStep{
    width: 50%;
   
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapperNumberCard{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.styleStep{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    padding: 2%;
    
}
.bgGreen{
    background-color: green;
}
.bgYellow{
    background-color: yellow;
}
.bgBlue{
    background-color: blue;
}

.wrapperGame{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.shirt,.gameCard{
    width: 45%;
    height: 43vh;
    border: solid 1px red;
    margin-bottom: 20px;
}
.shirt{
 background: url('/eldritch-codejam/assets/mythicCardBackground.png');
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
}
.gameCard{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.buttonStop{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: red;
    position: absolute;
    top: 45%;
    left: 37%;
    
}
.buttonStop:hover{
    cursor: pointer;
    background: green;
}
.buttonStart{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background-color: grey;
    position: absolute;
    top: 45%;
    left: 80%;
}
.buttonStart:hover{
    background-color: green;
    cursor: pointer;
}
